{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1 class="secondary-color">About</h1>
  <p class="lead">Lorem ipsum dolor sit amet, dolor postea vidisse duo id, ea per nobis corpora. An sea nibh graeci, est corrumpit maiestatis ex. Vix dicat probatus ex. Eu falli adolescens vel, ne quo omittam iudicabit.Illud utroque te qui, vix quem eirmod epicurei eu. Sea minimum corrumpit iracundia ne, mazim paulo ubique qui ea. Duo debet feugiat erroribus te, oratio dissentiet no his. Has ne quot aliquando cotidieque. Liber discere vim id, ex eripuit sapientem conclusionemque mel, an per delenit meliore pericula.</p>
  <p class="lead">Amet mutat altera et his. Duo sale ignota maluisset te, ei atqui perpetua sed. Ius no admodum expetenda, congue expetenda et duo. Te aeterno disputationi nam, exerci eruditi no ius. Quodsi eruditi vivendo has ex, te dolorem intellegam his.

    Vix melius nusquam partiendo ex, eruditi instructior vix ea. Nam rebum singulis et, per incorrupte neglegentur cu. Usu laudem assueverit intellegebat et, id nam diam tota. Mei ad causae impedit accusata.</p>
</div>
{% endblock %}